:root {
    --logo-color: #000000;
    --accent-color: #2196F3;
    --text-color: #212121;
    --additional-text-color: #757575;
    --back-ground-footercolor: #2F303A;
    --back-ground-footer-transparent-color: #2F303A;
    --main-color: #FFFFFF;
    --back-ground-color: #F5F4FA;
    --back-ground-main-portfolio-color: #EEEEEE;
    }
    body{
        font-family: "Roboto";
    }
    .link{
        color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
    }
 .header-span{
    color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
 }   
.nav-link{
    color: var(--text-color);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}
.nav-item :hover{
    color: var(--accent-color);
}
.header-link{
    color:var(--additional-text-color);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}
.header-item :hover{
    color: var(--accent-color);
}
.site-button{
    color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height:1.62;
letter-spacing: 0.48px;
}
.site-item :hover{
    border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
width: 73px;
height: 38px;
flex-shrink: 0;
}
.projects-image{
    width: 370px;
height: 294px;
flex-shrink: 0;
}
.projects-subject{
    color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
}
.projects-text{
    color: var(--additional-text-color);
font-size: 16px;
font-weight: 400;
line-height:1.87;
letter-spacing: 0.48px;
}
.footer-link{
    color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}
.footer-span{
color: var(--main-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}
.address-link{
    color: var(--main-color);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
}
.item-link{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
}
.footer{
    background: var(--back-ground-footercolor);
flex-shrink: 0;
}