:root {
    --logo-color: #000000;
    --accent-color: #2196F3;
    --text-color: #212121;
    --additional-text-color: #757575;
    --back-ground-footercolor: #2F303A;
    --back-ground-footer-transparent-color: #2F303A;
    --main-color: #FFFFFF;
    --back-ground-color: #F5F4FA;
    --back-ground-main-portfolio-color: #EEEEEE;
    }
    body{
        font-family: "Roboto";
    }
    .container{
        width: 1200px;
        outline: 1px solid red;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    header{
        padding-top: 24px;
        padding-bottom: 25px;
        background-color: var(--main-color);
    }
    .header-box{
        display: flex;
        align-items: center;
    }
    .link{
        color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
margin-right: 93px;
    }
 .header-span{
    color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
 }  

 .nav-list{
    display: flex;
    gap: 50px;
 }
.nav-link{
    color: var(--text-color);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
line-height: 1.14;
}
.nav-item :hover{
    color: var(--accent-color);
}
.header-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.header-link{
    color:var(--additional-text-color);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
line-height: 1.14;
}
.header-item :hover{
    color: var(--accent-color);
}

.hero{
    background: var(--back-ground-footer-transparent-color);
flex-shrink: 0;
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
}
.hero-box{
    background-image: url(../img/workcar.jpg);
    background-repeat: no-repeat;
    background-color: rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40);
}
.order-headline{
    color:var(--main-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height:1.36 ;
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin: 0px auto;
margin-bottom: 30px;
}
.order-button{
    color: var(--main-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height:1.87;
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--accent-color);
padding: 10px 32px;
border-radius: 4px;
border: none;
}
.information{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--main-color);
}
.information-list{
    display: flex;
    gap: 30px;
}
.information-title{
    color: var(--text-color);
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
line-height: 1.14;
margin-bottom: 10px;
}

.information-item:nth-child(1)::before{
    content:"";
    display: block;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--back-ground-color);
    margin-bottom: 30px;
    background-image: url(../img/vector.png);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
.information-item:nth-child(2)::before{
    content:"";
    display: block;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--back-ground-color);
    margin-bottom: 30px;
    background-image: url(../img/clock.png);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
.information-item:nth-child(3)::before{
    content:"";
    display: block;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--back-ground-color);
    margin-bottom: 30px;
    background-image: url(../img/diagram.png);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
.information-item:nth-child(4)::before{
    content:"";
    display: block;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--back-ground-color);
    margin-bottom: 30px;
    background-image: url(../img/astronaut.png);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.information-text{
    color: var(--additional-text-color);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
}
.work{
    padding-bottom: 94px;
    background-color: var(--main-color);
}
.work-list{
    display: flex;
    gap: 30px;
}
.work-title{
    color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
line-height: 1.66;
margin-bottom: 50px;
}
.work-image{
width: 370px;
height: 294px;
flex-shrink: 0;

}  
.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--back-ground-color);
}
.team-list{
    display: flex;
    gap: 30px;
}
.team-div{
    padding: 30px 0px;
    color: var(--main-color);
    background-color: var(--main-color);
}
.team-title{
    color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
line-height:1.66;
margin-bottom: 50px;
}
.team-img{
    width: 270px;
height: 260px;
flex-shrink: 0;
}
.team-caption{
color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.48px;
line-height:1.18;
margin-bottom: 10px;
}
.text-team{
    color: var(--additional-text-color);
text-align: center;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.48px;
line-height:1.18;
}
.footer-link{
    color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height:1.38; 
display: inline-block;
margin-bottom: 20px;
}
.footer-span{
color: var(--main-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height:1.38;
}
.footer-address{
    font-style: normal;
}
.address-link{
    color: var(--main-color);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
display: inline-block;
margin-bottom: 9px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 9px;;
}
.item-link{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
}
.footer{
    background-color: var(--back-ground-footercolor);
flex-shrink: 0;
padding-top: 94px;
padding-bottom: 94px;
}