:root {
    --logocolor: #000000;
    --accentcolor: #2196F3;
    --textcolor: #212121;
    --additionaltextcolor: #757575;
    --backgroundfootercolor: #2F303A;
    --backgroundfootertransparentcolor: #2F303A;
    --maincolor: #FFFFFF;
    --backgroundcolor: #F5F4FA;
    --backgroundmainportfoliocolor: #EEEEEE;
    }
    