// :root {
//     --logo-color: #000000;
//     --accent-color: #2196F3;
//     --text-color: #212121;
//     --additional-text-color: #757575;
//     --back-ground-footercolor: #2F303A;
//     --back-ground-footer-transparent-color: #2F303A;
//     --main-color: #FFFFFF;
//     --back-ground-color: #F5F4FA;
//     --back-ground-main-portfolio-color: #EEEEEE;
//     --icon: #AFB1B8;
//     }
    $logo-color: #000000;
    $accent-color: #2196F3;
    $text-color: #212121;
    $additional-text-color: #757575;
    $back-ground-footercolor: #2F303A;
    $back-ground-footer-transparent-color: #2F303A;
    $main-color: #FFFFFF;
    $back-ground-color: #F5F4FA;
    $back-ground-main-portfolio-color: #EEEEEE;
    $icon: #AFB1B8;
    $border-up: #ECECEC;