.footer {
  background-color: $back-ground-footercolor;
  padding-top: 94px;
  padding-bottom: 94px;
  &__divest {
    display: block;
    flex-wrap: wrap;
    align-items: baseline;
    @media screen and (min-width: 480px){
      display: block;
    }
    @media screen and (min-width: 768px){
      display: flex;
      padding-left: 76px;
      padding-right: 89px;
    }
    @media screen and (min-width: 1200px){
  flex-wrap: nowrap;
  padding-left: 0px;
      padding-right: 0px;
    }
  }
  &__div{
    margin: 0px auto;
width: 232px;
text-align: center;
@media screen and (min-width: 768px){
margin: 0px;
}
@media screen and (min-width: 1200px){
text-align: start;
}
  }
  &__logo {
    color: $accent-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 1.38;
    display: inline-block;
    margin-bottom: 20px;
    @media screen and (min-width: 768px){
      font-size: 24px;
      letter-spacing: 0.72px;
      line-height: 1.37;
    }
    @media screen and (min-width: 1200px){
      font-size: 26px;
      letter-spacing: 0.78px;
      line-height: 1.38;
    }
  }
  &__span {
    color: $main-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 1.38;
  }
  &__address {
    font-style: normal;
  }
  &__linkes {
height: 21px;
    color: $main-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    display: inline-block;
    margin-bottom: 9px;
    text-align: center;
    @media screen and (min-width: 1200px){
  text-align: start;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  &__item{
    text-align: center;
    @media screen and (min-width: 1200px){
text-align: start;
    }
  }
  &__link {
height: 21px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
  
  
  &__divs {
    @media screen and (min-width: 768px){
      margin-left: 165px;
    }
    @media screen and (min-width: 1200px){
      margin-left: 70px;
      margin-right: 0px;
    }
  }
  &__title {
    margin-top: 60px;
    color: $main-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 768px){
      margin-top: 0px;
    }
    @media screen and (min-width: 1200px){
  text-align: start;
    }
  }
  &__listes {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__items {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: url(../img/symbol-defs.svg#icon-ellipse);
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__links {
    border-radius: 50%;
    padding: 12px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: url(../img/symbol-defs.svg#icon-ellipse);
      background-color: $accent-color;
      outline: 0px solid transparent;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: $main-color;
  }
}

.dives {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  position: relative;
  @media screen and (min-width: 480px){
    width: 450px;
    height: 156px;
  }
  @media screen and (min-width: 1200px){
    width: 570px;
  height: 86px;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 0px;
  }
  &__text {
    color: $main-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px){

    }
    @media screen and (min-width: 1200px){
  text-align: start;
    }
  }
  &__form{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px){

    }
    @media screen and (min-width: 1200px){
  flex-wrap: nowrap;
    }
  }
  &__input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    border: none;
    width: 100%;
height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
    bottom: 0px;
    left: 0px;
    @media screen and (min-width: 480px){
      width: 450px;
      height: 50px;
    }
    @media screen and (min-width: 1200px){
      position: absolute;
      width: 358px;
      height: 50px;
      margin-top: 0px;
    }
  }
  &__button {
    margin-top: 20px;
    
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: $accent-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px){

    }
    @media screen and (min-width: 1200px){
  margin-top: 0px;
  position: absolute;
    }
  }
  &__svg {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: $main-color;
  }
}
