.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: $main-color;
  &__box {
    display: flex;
    align-items: center;
  }
  &__active:visited {
    color: $accent-color;
  }
  &__active::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $accent-color;
    display: block;
    position: absolute;
    bottom: -33.59px;
  }
  &__logo {
    color: $accent-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 1.38;
    margin-right: 93px;
  }
  &__span {
    color: $logo-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 1.38;
  }
  &__list {
    display: flex;
    gap: 30px;
    margin-left: auto;
  }
  &__link {
    display: flex;
    align-items: center;
    color: $additional-text-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    line-height: 1.14;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__picture {
    fill: $additional-text-color;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    fill: $additional-text-color;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    outline: 0px solid transparent;
    .header__picture {
      fill: $accent-color;
    }
    .header__icon {
      fill: $accent-color;
    }
  }
}

.nav{
    &__item {
        position: relative;
      }
      
      &__list {
        display: flex;
        gap: 50px;
      }
      &__link {
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
        line-height: 1.14;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
      &:focus {
        color: $accent-color;
        outline: 0px solid transparent;
      }
      }
      
}
